
  <%= form_for @product, html: { multipart: true } do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<% if @product.id.present? %>
   <section name="7ee3">
      <div class="section-background" data-scroll="aspect-ratio-viewport" contenteditable="false" data-width="900" data-height="600" style="background-image: url( <%=  @product.image.url %> ); background-size: 100%; background-repeat:no-repeat;">
            <div class="u-ignoreBlock" style="padding-bottom: 66.6667%;"></div>
          <div class="section-captionContent u-ignoreBlock">
        </div>
      </div>
    </section> 
     <% end %>   
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title"><%= f.text_field :title, id: "form-control", :placeholder => "title", :autofocus => "true" %> 
            	<span class="font-weight-light"><%= f.text_field :subtitle, id: "form-control", :placeholder => "sub-title" %></span></h1>
            <h3><small>
            	<%= f.text_field :author, id: "form-control", class: "author-style", :placeholder => "author" %></a>
            </small>

            <%= f.text_area :description, id: "form-control", :placeholder => "description", :size => "25x10", id: "textarea" %>
        </article>
    <aside id="details-aside" class="col-sm-4">
      <%= f.submit id: "btn-buy", class: "btn btn-success btn-lg btn-block glyphicon glyphicon-ok", value: "Save!" %>
    <aside>

    <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">DETAILS</li>
              <li style="list-style:none;height:244px;"> <%= f.text_area :details, class: "list-group-item", :placeholder => "details" %></li>
              <li class="list-group-item clearfix">
                <span> <%= f.text_field :length, class: "pull-right", :placeholder => "length", class: "margin-side-yo" %></span>
                <span> <%= f.text_field :price, id: "form-control", :placeholder => "price", class: "margin-side-yo" %></span>
                <span> <%= f.text_field :sku, id: "form-control", :placeholder => "SKU" %></span>
              </li>
            </ul>
         </aside>
    </section>
  <% end %>





