
  <%= form_for @product, html: { multipart: true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


        <div id="price-container">
          <span class="glyphicon glyphicon-tag"></span><span class="price" style="color:black">
          <%= f.text_field :price, id: "form-control", :placeholder => "price" %></span>
        </div>
   <img src="https://unsplash.imgix.net/reserve/wVlfnlTbRtK8eGvbnBZI_VolkanOlmez_005.jpg?q=75&fm=jpg&s=de70d125f08a3fbb40d6b9984af5c3ad" id="content-header-img", alt="Check out our courses">


    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title"><%= f.text_field :title, id: "form-control", :placeholder => "title", :autofocus => "true" %> 
            	<span class="font-weight-light"><%= f.text_field :subtitle, id: "form-control", :placeholder => "sub-title" %></span></h1>
            <h3><small>
            	<%= f.text_field :author, id: "form-control", class: "author-style", :placeholder => "author" %></a>
            </small>

            <%= f.text_area :description, id: "form-control", :placeholder => "description", :size => "25x10", id: "textarea" %>
        </article>
    <aside id="details-aside" class="col-sm-4">
      <%= f.submit id: "btn-buy", class: "btn btn-success btn-lg btn-block glyphicon glyphicon-ok", value: "Save!" %>
    <aside>

    <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">DETAILS</li>
              <li> <%= f.text_field :details, class: "list-group-item", :placeholder => "details" %></li>
              <li class="list-group-item clearfix">
                <span class="pull-left content-qualifier">Length</span>
                <span> <%= f.text_field :length, class: "pull-right", :placeholder => "length" %></span>
              </li>
            </ul>
         </aside>
    </section>
        <% end %>





