<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hand + Word</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>

<div id="content" class="container">
    <header id="content-header">
<%= yield :head %>
    </header>
      <div class="left-nav">
        <div class="account-info">
          <div class="user-img"></div>
          <div class="user-name"></div>
        </div>
        <div class="user-info">
        <ul>
          <li>account</li>
          <li>reading list</li>
          <li>random</li>
          <li>stuff</li>
          <li>blahh</li>
        </ul>
       </div>
      </div>
      <div class="right-nav">
        <div class="discover">
        </div>
    </div>
<%= yield %>


</div>

</body>
</html>
